body {
    font-family: 'Lato', sans-serif;
}

.clear {
    clear: both;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.light-gradient {
    background: linear-gradient(to bottom, rgba(243, 245, 249, 1), rgba(208, 223, 258, 1));
}

.light {
    background: blue;
}

.dark {
    background: #3D4A6B;
}

.darker {
    background: #2a3138;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

body,
html,
.container {
    height: 100%;
    margin: 0;
}

.test {
    width: 100%;
    height: 100px;
    background: grey;
}

.chat {
    width: 50%;
    height: 100%;
}

.stats {
    width: 20%;
    height: 100%;
}

.waitlist {
    width: 30%;
    height: 100%;
}

.categories {
    height: 100px;
}

.category {
    width: calc(50% - 15px);
    height: 80px;
    float: left;
    background: #35424e;
    color: #fff;
    padding: 15px 0 0 15px;
    border-right: #41505e;
}

.category.active {
    background: #2f3943;
    border-bottom: 2px solid #539bf5;
}

.category > .top-word {
    font-weight: 900;
    font-size: 13px;
}

.category > .bottom-word {
    font-weight: 400;
    font-size: 14px;
    color: #539bf5;
}


/****** ADD PARTY BUTTON ******/

.add-party-form {
    width: 100%;
    margin-bottom: 45px;
    display: none;
}

.add-party-form > input {
    display: block;
    width: 70%;
    height: 36px;
    margin: 0 auto;
    background: #22282d;
    outline: none;
    margin-top: 15px;
    padding: 0 15px;
    border: 1px solid #1b2026;
    border-radius: 3px;
    color: #fff;
}

.add-party-form > .title {
    color: #539bf5;
    font-weight: 100;
    font-size: 28px;
    text-align: center;
    line-height: 32px;
    margin-top: 15px;
}

.add-party {
    display: block;
    position: relative;
    margin: 20px auto;
    width: 60%;
    background: #28dfc7;
    outline: none;
    height: 40px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

.add-party:disabled {
    opacity: .3;
}


/****** PARTIES ******/

.party > .info > .info-group,
.info-group > .icon,
.info-group > .description {
    display: inline-block;
}

.info-group {
    color: #768fa8;
    font-size: 12px;
    font-weight: 900;
}

.info-group > .description {
    line-height: 7px;
}

.party {
    position: relative;
    margin: 0 auto 15px auto;
    width: 70%;
    height: 80px;
    padding: 15px;
    background: #35424e;
    line-height: 28px;
    border-radius: 4px;
    position: relative;
}

.party.active {
    box-shadow: 0 4px 16px 0px rgba(0, 0, 0, .2);
}

.party > .name {
    font-size: 24px;
    font-weight: 300;
    color: #fff;
}

.party > .preview {
    font-size: 16px;
    font-weight: 400;
    color: #9db0c1;
}

.party > .arrival-time {
    font-size: 13px;
    font-weight: 900;
    color: #768fa8;
    position: absolute;
    right: 15px;
    bottom: 4px;
}

.party > .size {
    position: absolute;
    right: -38px;
    top: 15px;
}

.party > .size > .icon {
    border-radius: 20px;
    //border: 20px solid #8DA3DC;
    background: #539bf5;
    width: 40px;
    height: 26px;
    color: #fff;
    line-height: 26px;
    padding-left: 15px;
}

.party > .size > .number {
    border-radius: 20px;
    border: 3px solid #539bf5;
    background: #fff;
    width: 36px;
    height: 36px;
    color: #545860;
    font-weight: 700;
    text-align: center;
    line-height: 36px;
    float: right;
    margin-top: -5px;
    margin-left: -15px;
    position: relative;
    z-index: 1;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .2);
}


/****** STATS *******/

.stat {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 20% 0;
    background: #3D4A6B;
    color: #fff;
    text-align: center;
}

.stat.middle {
    box-shadow: 0px 2px 24px 5px rgba(0, 0, 0, .3);
    z-index: 2;
    background: #485880;
}

.stat > .description {
    font-weight: 900;
    font-size: 13px;
}

.stat > .amount {
    font-weight: 300;
    font-size: 72px;
}

.stat > .type {
    font-weight: 300;
    font-size: 18px;
}


/****** CHAT *******/

.chat {
    background: #F1F6FB;
}

.chat > .description {
    padding: 15px;
    color: #4E576D;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid red;
}

.chat > .description > .name {
    font-weight: 300;
    font-size: 32px;
}

.chat > .conversation {
    width: 100%;
    height: calc(80% - 70px);
    overflow-y: scroll;
}

.message {
    position: relative;
    width: 240px;
    padding: 15px 30px;
}

.message.them {
    margin-left: auto;
    margin-right: 0;
}

.message > .time {
    font-size: 12px;
    font-weight: 700;
    color: #7d8ea0;
    padding-bottom: 8px;
}

.message.them > .time {
    text-align: right;
}

.message > .text {
    font-size: 15px;
    font-weight: 500;
    padding: 20px;
    border-radius: 8px 8px 8px 2px;
    line-height: 22px;
    box-shadow: 0 2px 8px 0px rgba(0, 0, 0, .2);
}

.message.me > .text {
    background: #fff;
    color: #636D89;
    border-radius: 8px 8px 8px 2px;
}

.message.them > .text {
    background: #539BF5;
    color: #fff;
    border-radius: 8px 8px 2px 8px;
    box-shadow: 0 2px 8px 0px rgba(83, 155, 245, .8);
}

.message > .dot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    display: block;
    background: black;
    position: absolute;
    bottom: 15px;
}

.message.me > .dot {
    left: 15px;
    background: #fff;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, .2);
}

.message.them > .dot {
    right: 15px;
    background: #539BF5;
    box-shadow: 0 2px 4px 0px rgba(83, 155, 245, .8);
}

.new-message {
    width: 100%;
    height: calc(20% - 70px);
    background: #fff;
}