<!--   https://jsfiddle.net/36319101/1/   -->



<!DOCTYPE>
<html>
   <head>
      <title>Table Text</title>
      <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900,100' rel='stylesheet' type='text/css'>
      <link href="style.css" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

   </head>
   <body>

<div class="waiting-list">
<div class="party">
  <div class="name">Sarah</div>
  <div class="preview truncate">Hi how long is the wait time for a party of 7?</div>
  <div class="arrival-time">4:15 PM</div>
</div>

<div class="party active">
  <div class="name">Johnny</div>
  <div class="preview truncate">Hi Johhny your table is ready! Please let your host know once you've arrived to be seated.</div>
  <div class="arrival-time">4:17 PM</div>
  <div class="size">
    <i class="fa fa-users icon"></i>
    <div class="number">5</div>
    <div class="clear"></div>
  </div>
</div>
</div>







<div class="conversation">
  <div class="message me">
    <div class="time">4:15 PM</div>
    <div class="text">Hi how long is the wait time for a party of 7?</div>
    <div class="dot"></div>
  </div>
  <div class="message them">
    <div class="time">4:15 PM</div>
    <div class="text">Hi how long is the wait time for a party of 7?</div>
    <div class="dot"></div>
  </div>
</div>


   </body>
</html>


